{
    "openapi": "3.0.1",
    "info": {
        "title": "EuroDNS User API",
        "version": "1.0.0",
        "x-logo": {
            "url": "https://cdn.eurodns.com/images/showcase/assets/LOGO-WHITE-BG.png",
            "altText": "Logo"
        },
        "description": "**Authentication:** API requires `X-APP-ID` and `X-API-KEY` headers for all requests.\n\n## Example Request\n\n```bash\ncurl -X GET \"https://rest-api.eurodns.com/domains/example.com\" \\\n-H \"X-APP-ID: your-app-id\" \\\n-H \"X-API-KEY: your-api-key\" \\\n-H \"Content-Type: application/json\"\n```\n\n## Security Policy\n\n| Policy | Details |\n|---|---|\n| **IP Whitelisting** | Configurable via your account dashboard |\n| **Rate Limit** | 10 requests per 10 seconds per IP |\n| **Rate Limit Violations** | Progressive banning with increasing duration |\n\n> **Important**: Each rate limit violation during a ban period extends the ban duration.",
        "contact": {
            "name": "EuroDNS API Support",
            "email": "support@eurodns.com"
        },
        "summary": "The EuroDNS User API provides programmatic access to domain management services, DNS configuration, and subscription management. This RESTful API enables developers to integrate EuroDNS services directly into their applications and workflows."
    },
    "servers": [
        {
            "url": "https://rest-api.eurodns.com"
        }
    ],
    "security": [
        {
            "X-APP-ID": [
                
            ],
            "X-API-KEY": [
                
            ]
        }
    ],
    "tags": [
        {
            "name": "DasService",
            "x-displayName": "Domains Availability"
        },
        {
            "name": "TldService",
            "x-displayName": "Top-Level Domains"
        },
        {
            "name": "DomainService",
            "x-displayName": "Domains"
        },
        {
            "name": "DnsProvider",
            "x-displayName": "DNS Zones"
        },
        {
            "name": "ContactProfileService",
            "x-displayName": "Contact Profiles"
        },
        {
            "name": "NameserverProfileService",
            "x-displayName": "Nameserver Profiles"
        },
        {
            "name": "ContactValidationService",
            "x-displayName": "Contact Validation"
        },
        {
            "name": "SubscriptionService",
            "x-displayName": "Subscriptions"
        },
        {
            "name": "SslSubscriptionService",
            "x-displayName": "SSL subscriptions"
        },
        {
            "name": "EmailSubscriptionService",
            "x-displayName": "Email subscriptions"
        },
        {
            "name": "PremiumDnsSubscriptionService",
            "x-displayName": "Premium DNS subscriptions"
        },
        {
            "name": "MicrosoftSubscriptionService",
            "x-displayName": "Microsoft subscriptions"
        },
        {
            "name": "HttpsRedirectService",
            "x-displayName": "HTTPS redirect subscriptions"
        },
        {
            "name": "AccountService",
            "x-displayName": "Accounts"
        },
        {
            "name": "OrderService",
            "x-displayName": "Orders"
        },
        {
            "name": "InvoiceService",
            "x-displayName": "Invoices"
        },
        {
            "name": "CustomerInvoiceProfileService",
            "x-displayName": "Invoice Profiles"
        }
    ],
    "paths": {
        "/accounts/prepaid-balance": {
            "get": {
                "tags": [
                    "AccountService"
                ],
                "summary": "Obtaining your prepaid account balance",
                "description": "Depending on the actions you perform with your API account, a fee will be debited from your prepaid account. Use the following request to obtain your current balance.",
                "operationId": "getPrepaidAccountBalance",
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PrepaidBalance"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Get DNS Zone",
                "description": "Returns a DNS Zone with its DNS records, URL forwards and mail forwards.<br>You may then make changes (e.g. adding, updating and removing records) to the DNS Zone and use it with the Validate or Save operations.",
                "operationId": "getDnsZone",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZonePage"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Save DNS Zone",
                "description": "Takes a DNS Zone and Save any changes on DNS records.<br>If the changes made to the DNS Zone are not valid, the operation replies with a 400 Bad Request. Use the Validate operation to get a detailed Validation report.",
                "operationId": "saveDnsZone",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsZonePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/check": {
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Validate DNS Zone",
                "description": "Takes a DNS zone and validate any changes on DNS records, URL forwards and mail forwards.<br>Returns the updated DNS Zone with a detailed Validation report.<br>This operation does not apply any changes made to the DNS Zone, use the Save operation instead.",
                "operationId": "checkDnsZone",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DnsZonePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZonePage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/snapshots": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "List DNS Zone Snapshots",
                "operationId": "listDnsZoneSnapshots",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DnsZoneSnapshotItem"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/snapshots/{id}": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Get DNS Zone Snapshot ",
                "operationId": "getSnapShot",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of Zone Snapshot to return",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZoneSnapshotPage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/dnssec-status": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Get DNS Zone DNSSEC status",
                "description": "Returns the current DNSSEC Status of a DNS Zone. If zone is signed, the DNSSEC keys will be returned as well.",
                "operationId": "getDnssecStatus",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZoneDnssecStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/dns-records": {
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Add DNS records",
                "description": "Add one or more DNS records to the zone and save the changes.",
                "operationId": "addDnsRecords",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/DnsRecord"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZonePage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/dns-records/{record-id}": {
            "delete": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Delete a DNS record",
                "description": "Delete a DNS record from the zone and save the changes.",
                "operationId": "deleteDnsRecord",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "a domain name (e.g. example.com)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "record-id",
                        "in": "path",
                        "description": "a Dns record id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DnsZonePage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/sign": {
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Sign DNS Zone",
                "description": "Sign DNS Zone. If the domain is registered with us, please sign the domain instead using the appropriate command.",
                "operationId": "signZone",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/dns-zones/{domain-name}/unsign": {
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Unsign DNS Zone",
                "description": "Unsign DNS Zone. If the domain is registered with us, please unsign the domain instead using the appropriate command.",
                "operationId": "unsignZone",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/zone-profiles": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "List DNS Zone Profiles",
                "operationId": "listZoneProfiles",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "description": "Page number for Pagination",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "description": "Number of results per page for Pagination. If pagination-size = -1, results are returned in one page",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "description": "Field name for result sorting",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "name"
                            ]
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "description": "Field Sort direction",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "zone profile name",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "pagination-page": {
                                "description": "The current page number",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-size": {
                                "description": "The number of items per page",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-count": {
                                "description": "The total number of items",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-sortfield": {
                                "description": "The field used for sorting",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "id",
                                        "name"
                                    ]
                                }
                            },
                            "pagination-sortorder": {
                                "description": "The sort order",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ZoneProfile"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Create DNS Zone Profile",
                "operationId": "createZoneProfile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZoneProfilePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoneProfilePage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/zone-profiles/{id}": {
            "get": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Get DNS Zone Profile",
                "operationId": "getProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of zone profile to return",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoneProfilePage"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Save DNS Zone Profile",
                "operationId": "updateUserAPiZoneProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of zone profile to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZoneProfilePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoneProfilePage"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Delete DNS Zone Profile",
                "operationId": "deleteZoneProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of zone profile to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/zone-profiles/check": {
            "post": {
                "tags": [
                    "DnsProvider"
                ],
                "summary": "Validate DNS Zone Profile",
                "operationId": "checkZoneProfile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZoneProfilePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoneProfilePage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/domains/{domain-name}/sign": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Sign domain",
                "operationId": "signDomain",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/domains/{domain-name}/unsign": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Unsign domain",
                "operationId": "unsignDomain",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/domains/{domain-name}": {
            "get": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Get domain",
                "description": "Get a domain by name",
                "operationId": "getDomain",
                "parameters": [
                    {
                        "name": "domain-name",
                        "in": "path",
                        "description": "The exact domain name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Domain"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/domains/search": {
            "post": {
                "tags": [
                    "DomainService"
                ],
                "summary": "Search domains",
                "description": "Search domains with a search term and search filters",
                "operationId": "searchDomains",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "description": "Page number for Pagination",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "description": "Number of results per page for Pagination. If pagination-size = -1, results are returned in one page",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "description": "Field name for result sorting",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CREATION_DATE",
                                "DOMAIN_NAME",
                                "EXPIRATION_DATE",
                                "FOLDER",
                                "LAST_UPDATE_DATE",
                                "REACTIVATE_UNTIL",
                                "RENEWABLE_FROM",
                                "RENEWABLE_UNTIL",
                                "RENEWAL_METHOD",
                                "TLD_NAME"
                            ]
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "description": "Field Sort direction",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DomainSearchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "pagination-page": {
                                "description": "The current page number",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-size": {
                                "description": "The number of items per page",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-count": {
                                "description": "The total number of items",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-sortfield": {
                                "description": "The field used for sorting",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "pagination-sortorder": {
                                "description": "The sort order",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DomainSearchResult"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tlds/{id}": {
            "get": {
                "tags": [
                    "TldService"
                ],
                "summary": "Get a TLD",
                "description": "Takes an `id` of TLD.<br>Returns a TLD which contains all information relative to the TLD matching the specified `id`.",
                "operationId": "getTld",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of TLD to return",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TLD which has the specified ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tld"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error message relative to TLD retrieving",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tlds": {
            "get": {
                "tags": [
                    "TldService"
                ],
                "summary": "List TLDs",
                "description": "Takes filters (`tld-name`).<br>Returns a list of TLDs (matching specified filters) which each contains all information relative to the TLD.",
                "operationId": "listTld",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "description": "Page number for Pagination",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "description": "Number of results per page for Pagination. If pagination-size = -1, results are returned in one page",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tld-name",
                        "in": "query",
                        "description": "filter by TLD name",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all TLDs matching specified filters",
                        "headers": {
                            "pagination-page": {
                                "description": "The current page number",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-size": {
                                "description": "The number of items per page",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-count": {
                                "description": "The total number of items",
                                "required": true,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "pagination-sortfield": {
                                "description": "The field used for sorting",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "pagination-sortorder": {
                                "description": "The sort order",
                                "required": false,
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tld"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error message relative to TLD list retrieving",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/invoices/{id}": {
            "get": {
                "tags": [
                    "InvoiceService"
                ],
                "summary": "Get an invoice",
                "description": "Get the full details of an invoice, containing the invoice lines details.",
                "operationId": "getInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/invoices": {
            "get": {
                "tags": [
                    "InvoiceService"
                ],
                "summary": "Search for invoices",
                "description": "Search for all invoices matching the provided parameters.",
                "operationId": "getInvoices",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "created-after",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice creation date start range.",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "created-before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice creation date end range.",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "invoice-type",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/InvoiceType"
                        }
                    },
                    {
                        "name": "invoice-statuses",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/InvoiceStatus"
                            }
                        }
                    },
                    {
                        "name": "cip-id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique identifier of the invoice profile used to generate the invoices.",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "invoice-ids",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "description": "The list of unique invoice identifiers.",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    {
                        "name": "related-invoice-id",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "description": "The related invoice identifier.\nEdited invoices, credit notes and corrective invoices are created based on this invoice.",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "order-ids",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "description": "The identifier of orders related to the invoices.",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    {
                        "name": "invoice-numbers",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "description": "The list of invoice numbers.",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Invoice"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer-invoice-profiles/{cip-id}": {
            "get": {
                "tags": [
                    "CustomerInvoiceProfileService"
                ],
                "summary": "Get an invoice profile",
                "description": "Get the details of an invoice profile.",
                "operationId": "getCustomerInvoiceProfile",
                "parameters": [
                    {
                        "name": "cip-id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerInvoiceProfile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer-invoice-profiles": {
            "get": {
                "tags": [
                    "CustomerInvoiceProfileService"
                ],
                "summary": "Search for invoice profiles",
                "description": "Search for all invoice profiles matching the provided parameters.",
                "operationId": "getCustomerInvoiceProfiles",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "default-profile",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "description": "The invoice profile default status."
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "description": "The invoice profile active status.\nInactive invoice profiles are not selectable by users when placing orders and should only be used for keeping track of past invoices."
                        }
                    },
                    {
                        "name": "profile-name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The display name of the invoice profile."
                        }
                    },
                    {
                        "name": "first-name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile first name."
                        }
                    },
                    {
                        "name": "last-name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile last name."
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile email address."
                        }
                    },
                    {
                        "name": "company-name",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile company name."
                        }
                    },
                    {
                        "name": "country-code",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile country code."
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The invoice profile city."
                        }
                    },
                    {
                        "name": "term-matching-mode",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The match mode to apply on the given `profile-name`, `first-name`, `last-name`, `company-name`, `city` or `email` field.",
                            "default": "STARTS_WITH",
                            "enum": [
                                "EQUALS",
                                "NOT_EQUALS",
                                "CONTAINS",
                                "STARTS_WITH",
                                "ENDS_WITH",
                                "NOT_CONTAINS"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CustomerInvoiceProfile"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact-profiles": {
            "get": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "List contact profiles",
                "description": "Get a list of contact profiles matching specified optional filters.",
                "operationId": "getContactProfiles",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/ContactType"
                        }
                    },
                    {
                        "name": "is-org",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-admin",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-tech",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-billing",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful response returning a list of matching contact profiles.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ContactProfile"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "Create a contact profile",
                "description": "Create a new contact profile with given input data.",
                "operationId": "createContactProfile",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Data of the Contact profile to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactProfile"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful response returning the created contact profile with it's assigned ID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactProfile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact-profiles/{id}": {
            "get": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "Get a contact profile",
                "description": "Get all information relative to the contact profile with specified ID.",
                "operationId": "getContactProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful response returning the contact profile details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactProfile"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "Update a contact profile",
                "description": "Update changes on the corresponding contact profile.<br/>All fields should be given even if value not changed, otherwise it will be considered as empty value if allowed.",
                "operationId": "updateContactProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Data of the Contact profile to update.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactProfile"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful response returning the updated contact profile details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactProfile"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "Delete a contact profile",
                "description": "Delete the specified contact profile.",
                "operationId": "deleteContactProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Deletion success"
                    }
                }
            }
        },
        "/contact-profiles/{id}/default-status": {
            "put": {
                "tags": [
                    "ContactProfileService"
                ],
                "summary": "Set contact profile default states.",
                "description": "Set the specified contact profile as default contact for the types specified in the request body.",
                "operationId": "setAsDefaultContactProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "True flags for all wanted contact types for which the contact profile should be the default one. All fields are optional, only put a TRUE boolean value on the ones you want.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactProfileDefaultStatus"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful response returning the current applied contact profile default status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactProfileDefaultStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{id}": {
            "get": {
                "tags": [
                    "OrderService"
                ],
                "summary": "Get an order",
                "description": "Get the full details of an order, containing the order lines details.",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "OrderService"
                ],
                "summary": "Search for orders",
                "description": "Search for all orders matching the provided parameters.",
                "operationId": "getOrders",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/OrderStatus"
                            }
                        }
                    },
                    {
                        "name": "orders-ids",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "description": "The list of order identifiers.",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    {
                        "name": "order-line-ids",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "description": "The list of order line id related to the orders.",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    },
                    {
                        "name": "delivery-in-progress",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "description": "The delivery status of the orders. An order delivery is considered in progress once the order payment has been processed but no all order lines are delivered yet."
                        }
                    },
                    {
                        "name": "term",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The search term allowing to search orders based on the description of its order lines."
                        }
                    },
                    {
                        "name": "start-date",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The parameter allowing to search orders after the given date",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end-date",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "description": "The parameter allowing to search orders before the given date",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Order"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/nameserver-profiles": {
            "get": {
                "tags": [
                    "NameserverProfileService"
                ],
                "summary": "List nameserver profiles",
                "description": "Get a list of nameserver profiles matching specified optional filters.",
                "operationId": "getNameserverProfiles",
                "parameters": [
                    {
                        "name": "pagination-page",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-size",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pagination-sortfield",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination-sortorder",
                        "in": "header",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "deletable",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "include-nameservers",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NameserverProfile"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "NameserverProfileService"
                ],
                "summary": "Create a nameserver profile",
                "description": "Create a new nameserver profile with given input data.",
                "operationId": "createNameserverProfile",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NameserverProfile"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameserverProfile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/nameserver-profiles/{id}": {
            "get": {
                "tags": [
                    "NameserverProfileService"
                ],
                "summary": "Get a nameserver profile",
                "description": "Get all information relative to the nameserver profile with specified ID.",
                "operationId": "getNameserverProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Request error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NameserverProfile"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "NameserverProfileService"
                ],
                "summary": "Update a nameserver profile",
                "description": "Update changes on the corresponding nameserver profile.<br/>All fields should be given even if value not changed, otherwise it will be considered as empty value if allowed.",
                "operationId": "updateNameserverProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
[...]
